<div class="panel panel-default col-md-2 col-md-offset-1" style="padding:40px;margin-top:30px; width : 1100px;background-color:#f7f7f7">


	<%= image_tag( "aspFirstPage.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto") %>

	<%= image_tag( "aspLogin.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto") %>
	
	<%= image_tag( "aspLoggedIn.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto") %>
	
	<%= image_tag( "aspGuitarSearch.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto") %>
	
	<%= image_tag( "aspProdus.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto") %>
	
	<%= image_tag( "aspComentarii.jpg", :class => "thumbnail center", :style => "height: 400px; width:auto; margin:0 auto") %>
	
</div>
